<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuração</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="star"></ion-icon>
      <ion-label>Alocações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="stats"></ion-icon>
      <ion-label>KPIs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>simulador melhor preço</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>simulador Alocações personalizadas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>